@model GiffyCards.Web.ViewModels.Cigar.CreateCigarInputModel

@{
    ViewData["Title"] = "Create Cigar";
    var brandItems = this.Model.BrandItems.Select(x => new SelectListItem(x.Value, x.Key));
    var StrenghtItems = this.Model.StrenghtItems.Select(x => new SelectListItem(x.Value, x.Key));
    var tasteItems = this.Model.TasteItems.Select(x => new SelectListItem(x.Value, x.Key));
    var sizeItems = this.Model.SizeItems.Select(x => new SelectListItem(x.Value, x.Key));
    var shapeItems = this.Model.ShapeItems.Select(x => new SelectListItem(x.Value, x.Key));
}

<h1>@ViewData["Title"]</h1>

<form method="post" class="col-md-6 offset-md-3">
    <div class="form-group">
        <label asp-for="BrandId"></label>
        <select asp-for="BrandId" class="form-control" asp-items="brandItems"></select>
    </div>
    <div class="form-group">
        <label asp-for="CigarName"></label>
        <input asp-for="CigarName" class="form-control" />
        <span asp-validation-for="CigarName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StrenghtId"></label>
        <select asp-for="StrenghtId" class="form-control" asp-items="StrenghtItems"></select>
    </div>
    <div class="form-group">
        <label asp-for="TasteId"></label>
        <select asp-for="TasteId" class="form-control" asp-items="tasteItems"></select>
    </div>
    <div class="form-group">
        <label asp-for="SizeId"></label>
        <select asp-for="SizeId" class="form-control" asp-items="sizeItems"></select>
    </div>
    <div class="form-group">
        <label asp-for="Bland"></label>
        <input asp-for="Bland" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="6"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="ShapeId"></label>
        <select asp-for="ShapeId" class="form-control" asp-items="shapeItems"></select>
    </div>
    <div class="form-group">
        <label asp-for="PricePerUnit"></label>
        <input asp-for="PricePerUnit" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl"></label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-info">Back to List</a>
</form>
