<link rel="stylesheet" href="~/css//aboutUs.css" />
    
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>Who we are</h2><br>
      <h4>Best Quality,
Genuine Havanas,
100% Satisfaction Guarantee</h4><br>
      <p>HOUSE OF THE FINEST CUBAN CICARS WAS FOUNDED IN 1997, with its original objective to provide Hong Kong with premium, first quality Cuban cigars at the most competitive prices

Since inception, demand for our products and services has continued to grow. From quietly supplying Hong Kong's hotels, bars and private clubs we have continued to expand, now providing cigars and accessories to leading hotels, bars, restaurants, private clubs, shops and aficionados in Hong Kong and around the world.

Our continuing success stems from our total commitment to customer service and satisfaction.

Now, we have expanded our clientele again to provide you, the private aficionado, with the very best quality, genuine Havanas at the most competitive prices.

</p>
      <br><button class="btn btn-default btn-lg">Get in Touch</button>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo slideanim"></span>
    </div>
    <div class="col-sm-8">
      <h2>Our Values</h2><br>
      <h4><strong>MISSION:</strong> In recognition of your demand for excellence, we offer a 100% money-back or exchange satisfaction guarantee. (See our Guarantee & Shipping).</h4><br>
      <p><strong>VISION:</strong> Our offices and warehousing facilities are set up in Hong Kong and Switzerland in order to benefit from their world renown DUTY-FREE ports. These bonded warehouses are duly controlled by Customs and relevant government agencies; we have successfully been granted the proper permits and licences to operate such warehouses. When we export directly to you we pay no duties or taxes so these savings are passed on to you. Other countries such as the U.K and Canada do not offer such systems and impose exorbitantly high duties on tobacco, which in turn have to be incorporated into the price of the cigar.</p>
    </div>
  </div>
</div>
