@using GiffyCards.Common
@model GiffyCards.Web.ViewModels.Home.DisplayHomePageViewModel

<div class="text-center">
    <h1 class="display-4">@this.ViewData["Title"]</h1>

</div>

<div class="hero-section section mb-30">
    <div class="container">
        <div class="row">
            <div class="col">
               
                    <!-- Hero Slider Start -->
                <div class="hero-slider hero-slider-one">
                    @foreach (var cigar in this.Model.Cigars)
                    {
                        <!-- Hero Item Start -->
                        <div class="hero-item">
                            <div class="row align-items-center justify-content-between">

                                <!-- Hero Content -->
                                <div class="hero-content col">

                                    <h2>WEEKLY SPECIALS</h2>
                                    <h1><span>@cigar.CigarName</span></h1>
                                    <h1>IT’S <span class="big">@cigar.Discount</span> OFF</h1>
                                    <a href="#">smoke now</a>

                                </div>

                                <!-- Hero Image -->
                                <div class="hero-image col">
                                    <img src="@cigar.ImageUrl" alt="Hero Image">
                                </div>

                            </div>
                        </div><!-- Hero Item End -->
                    }

                </div><!-- Hero Slider End -->
            </div>
        </div>
    </div>
</div>