@model GiffyCards.Web.ViewModels.StrenghtsList
<h1>Strenghts All Page</h1>

<hr />
<div class="row">
    @foreach (var str in this.Model.StrenghtsLists)
    {
        <div class="media col-md-4">
            <img src="@str.PictureUrl" width="100" class="mr-3 img-responsive">
            <div class="media-body">
                <h5 class="mt-0"><a asp-action="ShowCigarWithStrength" asp-route-id="@str.Id">@str.StrenghtType</a></h5>
            </div>
        </div>
    }
</div>