@model GiffyCards.Web.ViewModels.Reviews.EditReviewInputModel

<h1>Add Review</h1>
<div asp-validation-summary="All" class="text-danger"></div>
<div class="ratting-form-wrapper fix">
    <form method="post">
        <div class="ratting-form row">
            <div class="col-12 mb-15">
                <h5>Rating:</h5>
                <div class="col-md-1 col-12 mb-15">
                    <input asp-for="Score" class="form-control" />
                    <span asp-validation-for="Score" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 mb-15">
                <label asp-for="ReviewText"></label>
                <textarea asp-for="ReviewText" class="form-control" rows="5"></textarea>
                <span asp-validation-for="ReviewText" class="text-danger"></span>
            </div>
            <input type="text" hidden id="id" name="id" value="@Context.Request.RouteValues["id"]" />
            <div class="col-12">
                <input value="SAVE" type="submit" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>


<div>
    <a asp-action="MyReviews">Back to List</a>
</div>