@model GiffyCards.Web.ViewModels.SizesAllViewModel

<div class="col-12 mb-40">
    <div class="section-title-one" data-title="ALL SIZES"><h1>ALL SIZES</h1></div>
</div><!-- Section Title End -->

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Shape</th>
            <th scope="col">Length Range</th>
            <th scope="col">Ring Range</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var size in Model.ShapeAndSizeViewModel)
        {
        <tr>
            <td class="media-body"><a class="text-warning stretched-link" asp-action="GetBySize" asp-route-id="@size.Id">@size.ShapeName</a></td>
            <td>@size.Lenght</td>
            <td>@size.RingRange</td>
        </tr>
        }
    </tbody>
</table>

class="stretched-link"