<div class="col-12 mb-40">
    <div class="section-title-one" data-title="ALL SIZES"><h1>ALL SIZES</h1></div>
</div><!-- Section Title End -->

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Shape</th>
            <th scope="col">Length Range</th>
            <th scope="col">Ring Range</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td ><a asp-action="GetBySize" asp-route-id="Giant" class="text-warning stretched-link">Giant</a></td>
            <td>9"</td>
            <td>47-55</td>
        </tr>
        <tr>
            <td><a asp-action="GetBySize" asp-route-id="Double Corona" class="text-warning stretched-link">Double Corona</a></td>
            <td>7.5" - 8"</td>
            <td>49-57</td>
        </tr>
        <tr>
            <td><a asp-action="GetBySize" asp-route-id="2" class="text-warning stretched-link">Churchill</a></td>
            <td>7"</td>
            <td>47</td>
        </tr>
        <tr>
            <td><a asp-action="GetBySize" asp-route-id="2" class="text-warning stretched-link">Torpedo (Belicoso)</a></td>
            <td>6.5" - 7"</td>
            <td>48 - 54</td>
        </tr>
        <tr>
            <td><a asp-action="GetBySize" asp-route-id="2" class="text-warning stretched-link">Toro</a></td>
            <td>5" - 6"</td>
            <td>46 - 60</td>
        </tr>
        <tr>
            <td><a asp-action="GetBySize" asp-route-id="2" class="text-warning stretched-link">Robusto</a></td>
            <td>4" - 5"</td>
            <td>48 - 52</td>
        </tr>
        <tr>
            <td><a asp-action="GetBySize" asp-route-id="2" class="text-warning stretched-link">Lonsdale</a></td>
            <td>6.5" - 7"</td>
            <td>42 - 44</td>
        </tr>
        <tr>
            <td><a asp-action="GetBySize" asp-route-id="2" class="text-warning stretched-link">Corona</a></td>
            <td>5" - 6.5"</td>
            <td>42 - 46</td>
        </tr>
        <tr>
            <td><a asp-action="GetBySize" asp-route-id="2" class="text-warning stretched-link">Panetela</a></td>
            <td>5" - 6"</td>
            <td>33 - 38</td>
        </tr>
        <tr>
            <td><a asp-action="GetBySize" asp-route-id="2" class="text-warning stretched-link">Cigarillos</a></td>
            <td>3" - 4"</td>
            <td>20 - 22</td>
        </tr>
    </tbody>
</table>
